*{
	padding: 0;
	margin: 0;
}

.login{
	width: 788px;
	height: 650px;
	margin: 0 auto;
	background: #fde7ac;
}
.login-1{
	width: 788px;
	height: 93%;
	margin: 0 auto;
	background: #fde7ac;
}
.login-2{
	float: left;
	height: 288px;
	width: 788px;
	margin: 182px 0px;
	background: url(../images/bg514.png);
}
.login-3{
	width: 500px;
	height: 150px;
	margin: 110px 0 0 430px;
}
.text{
	width: 200px;
	height: 22px;
	margin: 10px ;
}
.button{
	margin-left:50px;
}
.button input{
	width: 97px;
	height: 35px;
	
}
.radio{
	margin-left: 75px;
	width: 150px;
	height: 25px;
}
